.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paragrafo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: yellow;
}

.bottone{
  color: yellow;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  border: 3px solid yellow;
  border-radius: 10px;
  background-color: purple;
}

body{
  background-color: black;
}

.carica{
  color:white;
  background-color: blue;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  border: 3px solid white;
  border-radius: 10px;
}

.elimina_modifica{
  color:white;
  background-color: red;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  border: 3px solid white;
  border-radius: 10px;
}

.conferma{
  color:lightgreen;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

h1{
  color: white;
}

h2{
  color: antiquewhite;
}

input{
  background-color:lightblue;
  color:black;
  font-size: 25px;
  border-radius: 9px;
  border: 1px solid crimson;
  padding: 4px;
  width: 250px;
  height: 20px;
}